<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="configBuilders" type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />
	</configSections>
	<configBuilders>
		<builders>
			<add name="Secrets" userSecretsId="bc664c16-506d-4c4c-9f50-92d36974990d" type="Microsoft.Configuration.ConfigurationBuilders.UserSecretsConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.UserSecrets, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</builders>
	</configBuilders>
	<appSettings>
		<add key="SiteTitle" value="ASP.Net 4.8 Database Testing" />
	</appSettings>
	<connectionStrings configBuilders="Secrets">
		<add name="SQLConnection_Master" connectionString="xx" />
		<add name="SQLConnection_Specific" connectionString="xx" />
	</connectionStrings>
	<system.web>
		<authentication mode="Windows" />
		<identity impersonate="true" />
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime enableVersionHeader="false" maxRequestLength="20480" targetFramework="4.8" />
		<sessionState timeout="20" mode="InProc" compressionEnabled="false" />
		<customErrors mode="Off" />
		<authorization>
			<allow users="*" />
			<deny users="?" />
		</authorization>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<security>
			<requestFiltering allowDoubleEscaping="false" allowHighBitCharacters="false">
				<requestLimits maxAllowedContentLength="30000000" />
				<fileExtensions allowUnlisted="false">
					<clear />
					<add allowed="true" fileExtension=".htm" />
					<add allowed="true" fileExtension=".html" />
					<add allowed="true" fileExtension=".aspx" />
					<add allowed="true" fileExtension=".js" />
					<add allowed="true" fileExtension=".css" />
					<add allowed="true" fileExtension=".gif" />
					<add allowed="true" fileExtension=".jpg" />
					<add allowed="true" fileExtension=".png" />
					<add allowed="true" fileExtension=".ico" />
					<add allowed="true" fileExtension=".axd" />
					<add allowed="true" fileExtension="." />
				</fileExtensions>
			</requestFiltering>
			<authorization>
				<clear />
				<add accessType="Allow" users="*" />
				<add accessType="Deny" users="?" />
			</authorization>
		</security>
		<defaultDocument>
			<files>
				<clear />
				<add value="default.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>